<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>123759107246-8aul0b3s9d08bjvcmjtn1ogmod9b0ldc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.123759107246-8aul0b3s9d08bjvcmjtn1ogmod9b0ldc</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>123759107246-p0ar5nnp2uo6bndp2gqsub0jlpf8s8ip.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAgskEdolZQ8FSW_w3J9LaTvd77odR58rQ</string>
	<key>GCM_SENDER_ID</key>
	<string>123759107246</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.rosan</string>
	<key>PROJECT_ID</key>
	<string>test2-3ac8c</string>
	<key>STORAGE_BUCKET</key>
	<string>test2-3ac8c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:123759107246:ios:d53bd1add9cea6cb0de13f</string>
</dict>
</plist>